/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

html{
	font-size: 10px;
}

body {
	
	font-family: 'KaiTi';
	/*font-family: 'STHeiti SC';*/
	background-color: #eff0f4;
	overflow: hidden;
}



.header {
	position: fixed;
	height: 4rem;
	top: 0;
	width: 100%;
	background-color: #5fc0cd;
	color: white;

}

li {
	position: absolute;
	height: 4rem;
	line-height: 4rem;
	list-style: none;
	display: inline-block;

}

.close {
	text-align: left;
	width: 30%;
}

.close a {
	padding-left: 3%;
	font-size: 2rem;
}

.loginTitle {
	margin-left: 30%;
	text-align: center;
	width: 40%;
}

.loginTitle span{
	font-size: 2.5rem;
	font-weight: bold;
}

.register {
	text-align: right;
	width: 30%;
	margin-left: 70%;
}

.register a {
	padding-right: 3%;
	font-size: 2rem;
}

.header a {
	text-decoration: none;
	color: white;
}


.main {
	margin-top: 4.5rem;
	width: 100%;
}


.loginPhone, .loginPwd{
	height:4rem;
	background-color: white;
	margin: 0.6rem 0;
	width: 100%;
}

input {
	border: 0;
	height: 4rem;
	line-height: 4rem;
	width: calc(100% - 6rem);
	outline: none;
	padding-left: 6rem;
	font-family: 'KaiTi';
	font-size: 1.5rem;

}

.loginPhone input {
	background:url(images/login_phone.png) 0 0 no-repeat,
			   url(images/login_bar.png) 3rem 0 no-repeat;
	background-size: 3.5rem 4rem;
}

.loginPwd input {
	background:url(images/login_pwd.png) 0 0 no-repeat,
			   url(images/login_bar.png) 3rem 0 no-repeat;
	background-size: 3.5rem 4rem;
}




.login button {
	font-size: 2.5rem;
	font-weight: bold;
	background-color: #5fc0cd;
	color: white;
	width: 100%;
	border: 0;
	margin: 0 auto;
	height: 4rem;
	line-height: 4rem;
	vertical-align: middle;
}

button {
	font-family: 'KaiTi';
}

.footer {
	text-align: right;
	margin-top: 1rem;
}

.footer a{
	font-size: 1.5rem;
	margin-right: 1.5rem;
	color: #5fc0cd;
	
}